.autocompleteContainer{
  display: grid;
  position: relative;
}


.autocompleteEntryContainer{
  grid-area: entryContainer;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  border: 1px solid black;
  width: 100%;
}
