.autocompleteContainer{
  display: grid;
  grid-template-areas: 
    'autocompleteLabel autocompleteInput'
    'autocompleteLabel entryContainer';
  flex-wrap: wrap;
  align-items: center;
}

.autocompleteLabel{
  margin-right:10px;
  grid-area: 'autocompleteLabel';
}

.autocompleteInput{
  grid-area: 'autocompleteInput';
}

.autocompleteEntry {
  list-style-type: none;
  background-color: aquamarine;
  border-bottom: 1px solid lightgrey;
}

.autocompleteEntryContainer{
  grid-area: 'entryContainer';
}