.autocompleteContainer{
  display: grid;
  position: relative;
}

.autocompleteEntry {
  list-style-type: none;
  background-color: white;
  padding: 2px;
}

.autocompleteEntry:hover {
  background-color: lightgray;
  font-weight: 600;
}

.autocompleteEntryContainer{
  grid-area: entryContainer;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  border: 1px solid black;
  width: 100%;
}
